:root {
    --main-bg-color: #1B1E23;
    --bg-buttons-color:#D8C277;
    --border-color:#CDB88D;
    --text-color:#F7F7F6;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
}

a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
}

img {
    display: block;
    width: 100%;
}